@model MiPrimerProyectoASP.Models.compra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha
        </dt>

        <dd>
            Fecha
        </dd>

        <dt>
            Total
        </dt>

        <dd>
            Total
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @MiPrimerProyectoASP.Controllers.CompraController.NombreUsuario(Model.id_usuario)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @MiPrimerProyectoASP.Controllers.CompraController.NombreClidente(Model.id_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
